<!DOCTYPE html>
<html lang="en">
<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>María Pérez-Serrabona</title>
    
        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom fonts for this template -->
        <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
        <!-- Custom styles for this template -->
        <link href="css/clean-blog.min.css" rel="stylesheet">
</head>
<body>
    <h1>Mi Web Personal</h1>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="index.html">Portada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portafolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacto</a>
        </li>
    </ul>

    <h2>Acerca de</h2>
    <p>Me llamo María y me encanta Django!</p>
        <!-- jQuert y Bootstrap -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Scripts del template -->
        <script src="js/clean-blog.min.js"></script>
</body>
</html>

