<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi Web Personal</h1>
    <ul>
        <li class="nav-item">
            <a class="nav-link" href="index.html">Portada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about.html">Acerca de</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="portfolio.html">Portafolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="contact.html">Contacto</a>
        </li>
    </ul>

    <h2>Acerca de</h2>
    <p>Me llamo María y me encanta Django!</p>
        <!-- jQuert y Bootstrap -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Scripts del template -->
        <script src="js/clean-blog.min.js"></script>
</body>
</html>

